@inject IViewLocalizer _localizer

<section id="content">

    <div class="content-wrap" style="padding:0px;">

        <div class="container clearfix">

            <div class="fancy-title title-center title-dotted-border">
                <h3>@_localizer["UBSIS Business Partners"]</h3>
            </div>

            <div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="true" data-items-xs="2" data-items-sm="3" data-items-lg="4" data-items-xl="5">


                <div class="oc-item">
                    <a href="https://www.ibm.com/" target="_blank"  rel="nofollow noopener" >
                        <img src="~/images/partners/ibm-logo.jpg" alt="ibm and ubsis are business partners.">
                    </a>
                </div>
                <div class="oc-item">
                    <a href="https://www8.hp.com" target="_blank"  rel="nofollow noopener">
                        <img src="~/images/partners/hpLogo.jpg" alt="Hp and ubsis are business partners.">
                    </a>
                </div>
                <div class="oc-item">
                    <a href="https://www.toshiba.co.jp/worldwide/" target="_blank" rel="nofollow noopener" >
                        <img src="~/images/partners/toshibaLogo.jpeg" alt="toshiba and ubsis are business partners.">
                    </a>
                </div>
                <div class="oc-item">
                    <a href="http://www.eurasianhealth.com/" target="_blank"  rel="nofollow noopener">
                        <img src="~/images/partners/ihmg2.jpg" alt="International Health Management Group (IHMG) and ubsis are business partners.">
                    </a>
                </div>
                <div class="oc-item">
                    <a href="https://www.esystems.com.tr/" target="_blank"  rel="nofollow noopener" >
                        <img src="~/images/partners/esystems2.jpg" alt="esystems and ubsis are business partners.">
                    </a>
                </div>
                <div class="oc-item">
                    <a href="http://www.misdanismanlik.com/default.asp" target="_blank"  rel="nofollow noopener" >
                        <img src="~/images/partners/mis2.jpg" alt="mis danismanlik and ubsis are business partners.">
                    </a>
                </div>
                <div class="oc-item">
                    <a href="http://www.healthandglad.com/" target="_blank"  rel="nofollow noopener" >
                        <img src="~/images/partners/heathlandglad2.jpg" alt="heathlandglad.com and ubsis are business partners.">
                    </a>
                </div>

                <div class="oc-item">
                    <a href="https://www.tsk.tr/" target="_blank"  rel="nofollow noopener" >
                        <img src="~/images/partners/TSK-Logo.png" alt="Turkish Armed Forces and ubsis are business partners.">
                    </a>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</section>



























@*<div class="section footer-stick">

        <h3 class="center">Business Partners</h3>

        <div id="oc-clients-full" class="owl-carousel owl-carousel-full image-carousel carousel-widget" data-margin="30" data-nav="true" data-pagi="false" data-autoplay="5000" data-items-xs="3" data-items-sm="3" data-items-md="5" data-items-lg="6" data-items-xl="7">

            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/1.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/2.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/3.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/4.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/5.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/6.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/7.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/8.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/9.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/10.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/11.png" alt="Brands"></a></div>
            <div class="oc-item" style="max-width: 75%"><a href="#"><img src="~/assets/images/clients/12.png" alt="Brands"></a></div>

        </div>


    </div>*@