@inject IViewLocalizer _localizer

<div class="container clearfix">
    <div class="heading-block center">
        <h3>@_localizer["UBSIS Organizational <span>Structure</span>"]</h3>
        <span>@_localizer["We do business in a wide range of public healthcare services."]</span>
    </div>
    <div class="col_full topmargin-sm bottommargin">
        <img src="~/images/ubsisOrganizationalStructure.png" alt="ubsis organizational structure is composed of 2 main deparments: Ubsis International Project Management and Ubsis Software Solutions.">
    </div>
    <div class="line"></div>
</div>