@inject IViewLocalizer localizer

<div class="content-wrap nobottompadding" style="z-index: 1;">
    <div class="container topmargin clearfix">
        <div class="heading-block center noborder" data-heading="UBSIS" style="color:aqua;">
            <h1><b>UBSIS</b></h1>
        </div>
        <div class="row clearfix">
            <div class="center col-lg-8 offset-lg-2 bottommargin">
                <h2 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="2500">@localizer["is an international management organization in collaboration with 9 instutional companies, providing services in international institution/organization configuration services with its qualified infrastructure and human resources. <br/> UBSIS is the founder of International Health Management Group <span class='t-rotate color'>(IHMG) </span>, which is an international organization providing Integrated Health Service with its international corporate identity, high technology and experience capacity."]</h2>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
